<ion-view view-title="{{videotitle}}" cache-view="false" id="clip-wrapper" hide-tabs>
<ion-nav-title style="font-size:14px">{{navTitle}}</ion-nav-title>

<ion-content has-header="true" padding="true" class="my-menu custom-background-content">


        <div class="card"  ng-repeat="clip in videoclips" >
                  <video src="{{videoplayerURL}}" poster="clip.thumb_url" class="videogular-container" id="myvideo" name="myvideo" controls webkit-playsinline autoplay >
                    Your browser does not support HTML5 video.
                  </video>

                  <button id='playFullscreenButton' ng-click="playFullscreen()" class="button button-full button-calm button icon-right ion-chevron-right">
                            Start now
                        </button>

video url: {{clip.videoplayerURL}} | {{videoplayerURL}}
        </div>

  </ion-content>



    <div class="tabs tabs-icon-only">
          <a nav-clear class="tab-item disable-user-behavior" title="Fullscreen" nav-clear ng-click="playFullscreen()">
            <i class="icon ion-arrow-expand"></i><span class="tab-title ng-binding" ng-bind-html="title"></span>
          </a>

        </div>


</ion-view>
