<ion-pane>
  <ion-header-bar class="bar-stable">
    <h1 class="title">Ionic Blank Starter</h1>
  </ion-header-bar>
  <ion-content>

      <ion-slide-box>
            <ion-slide ng-repeat="slideshow_image in slideshow_images">
                        <img ng-src="{{appCacheDirectory}}{{slideshow_image.image_md5}}.png">
                        <center>
                          <br/ >
                        <h4>{{slideshow_image.title}}
                        </h4>
                        {{appCacheDirectory}}{{slideshow_image.image_md5}}.png
                        </center>
            </ion-slide>
      </ion-slide-box>

  </ion-content>
</ion-pane>
