<ion-view cache-view="false">
<ion-nav-title style="font-size:14px">{{navTitle}}</ion-nav-title>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon button-clear  ion-navicon"></button>
  </ion-nav-buttons>


  <ion-nav-buttons side="right">
      <button class="button button-icon button-clear ion-earth custom-text-color-pink-light" menu-toggle="right"></button>
  </ion-nav-buttons>


<ion-content has-header="true" padding="true" class="my-menu custom-background-content">

  <FRAMESET cols="20%, 80%">
    <div ng-show="htmltext!='undefined'">
       <div ng-bind-html="htmltext"></div>
    </div>
  </FRAMESET>


<div ng-show="htmltext=='undefined'">
    <ion-list>

    <div class="elementCenterAlign" ng-if="itemsVisible">
      <ion-item class="ionListItem item-icon-right" ng-repeat="category_item in category_items | orderBy: 'ordering' " type="item-text-wrap" href="#/main/chats/{{category_item.id}}">





        <span class="elementCenterAlign" ng-if="!category_item.translation">{{category_item.title}}</span>

        <span class="elementCenterAlign" ng-if="category_item.translation">{{category_item.translation}}<br />
          <small>{{category_item.title}}</small>
        </span>



                            <div class="item-icon-right" ng-if="category_item.intro_text">
                                <i class="icon app_text_icon"></i>
                            </div>

                            <div class="item-icon-right" ng-if="!category_item.intro_text">
                                <i class="icon ion-chevron-right icon-accessory"></i>
                            </div>
      </ion-item>
</div>




  <div class="elementCenterAlign" ng-if="noItemsVisible">
      <item>
          <b><i>GEEN DATA</i></b>
      </item>
  </div>


    </ion-list>
</div>

  </ion-content>

</ion-view>
