
@font-face {
    font-family: 'Neutra Text Alt';
    src: url("file:///android_asset/fonts/NeutraText-BookAlt.ttf")
}
body {
	background-color: #FCE0E1;
	font-family: 'Neutra Text Alt';
	color: #333;
}

img.icon {
	width: 20px;
	height: 20px;
}
h1,h2,h3,h4,h5,h6 {
	color: #fff;
}


.html-icon {
font-size: 24px;
}
