
@font-face {
    font-family: MyNeutraTextBookAlt;
    src: url("file:///android_asset/fonts/NeutraTextBookAlt.otf")
}
body {
	background-color: #FCE0E1;
	font-family: MyNeutraTextBookAlt;
	color: #333;
}

img.icon {
	width: 20px;
	height: 20px;
}
h1,h2,h3,h4,h5,h6 {
	color: #fff;
}
