body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}


@font-face {
    font-family: 'fontawesome';
    src: url('../fonts/NeutraText-BookAlt.eot');
    src: url('../fonts/NeutraTextBookAlt?#iefix') format('embedded-opentype'),
    url('../fonts/NeutraTextBookAlt.woff') format('woff'),
    url('../fonts/NeutraText-BookAlt.ttf') format('truetype'),
    url('../fonts/NeutraTextBookAlt.svg') format('svg');
    font-weight: 200;
}
body{
    font-family: 'fontawesome';
}

body {
	background-color: #FCE0E1;
	color: #333;
}

.custom-background-content {
  background: url(../img/background_pattern.png) repeat;
  }

  .custom-background-login {
    background: url(../img/icons/ic_launcher.png) repeat;
    }


.scroll-content {
/*
  background: url(../img/background_pattern.png) repeat;
*/
  }

  .app_download_icon {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/icons/icon_download.png');
  }


    .app_downloaded_icon {
      background-repeat: no-repeat;
      background-position:center;
      background-image: url('../img/icons/icon_downloaded.png');
    }

    .app_text_icon {
      background-repeat: no-repeat;
      background-position:center;
      background-image: url('../img/icons/icon_text.png');
    }



  .app_refresh {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/icons/icon_refresh.png');
  }

  .app_settings {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/icons/icon_settings.png');
  }

  .app_website_screenshots {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/icons/icon_gallery.png');
  }

  .app_about {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/icons/icon_question.png');
  }

  .app_language {
    background-repeat: no-repeat;
    background-position:center;
    background-image: url('../img/icons/icon_globe.png');
  }


  .my-custom-bar {
  .bar-header {
  background: #ff0000;
  }
  }

  .button-right{
    display: block !important;
    width: 100% !important;
    text-align:right !important;
  }


  .my-menu {
  background-color: #3f4041;
  }

  .my-menu .item, .my-menu .item-content, .my-menu .item-complex{
  background-color: rgba(0,0,0,0);
  background-color: rgba(255,55,55,0);
  color: #FFFFFF;
  }

  .centerme {
      margin: 0 auto;
      width: 100%;
      height:100%;
  }

  .fullscreen-player {
      max-width: 100%;
      max-height: 100%;
      bottom: 0;
      left: 0;
      margin: auto;
      overflow: none;
      position: fixed;
      right: 0;
      top: 0;
  }

  .video-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px; height: 0; overflow: hidden;
      background-color: rgba(255,55,55,0);
  }

  .video-container iframe, .video-container object, .video-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  video {
    width:305px;
    height:160px;
    background:transparent url('../img/background_pattern.png') no-repeat 0 0;
    -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
  }

  .has-tabs-top {
    top: 70px !important; /*  height of the tabs */
  }


  .title-image {
      height: 50px;
      position: absolute;
      top: -5px;
      left: -5px;
  }

/*
  img{
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
*/

  .item-avatar i:first-child, .item-avatar .item-img {
      position: absolute;
      top: 15px;
      left: 15px;
      font-size: 36px;
      max-width: 40px;
      max-height: 40px;
      wwidth: 100%;
      border-radius: 4px;
    }

/*
    .item-checkbox-img {
      vertical-align: middle;
      position: absolute;
      top: 0px;
      right: 15px;
      height: 100%;
    }
*/



    * {
        font-size: 12pt;
    	}
    body {
        background-color: #FCD8DA;
        font-family: "../assets/fonts/NeutraText-BookAlt",Arial,Verdana,Helvetiva,sans-serif;
        font-size: 12pt;
        color: #5b2b46;

    }


    a {
        color: #dd41b9;
        font-weight: bold;
    }

    .icon {
    	width: 24px;
    	height: 24px;
    }


/*
    .item-profile-item {
      background-color: rgba(252,216,218,0.6) !important;
      height: 70px;
      text-color: #000 !important;
      color: #000 !important;
      float: left;
      line-height: 50px;
      width: 100%;

    }


    .item-profile-item > i {
      text-color: #000 !important;
      color: #000 !important;

    }


    .item-profile {
      padding-right: 10px;
      height: 70px;
      text-color: #dd41b9 !important;
      color: #dd41b9 !important;
      float: left;
      line-height: 50px;


      .item-thumbnail-left > img:first-child {
        max-width: 50px;
        max-height: 10px;
        margin: 0px 15px 15px 10px;
        padding: 0px 15px 15px 10px;
      }
    }
*/

    .my-left-icon {
      xdisplay: block !important;
      float: left;
      xmargin: 0px 3px 3px 2px;
      xpadding: 0px 3px 3px 2px;
      xleft: -100px !important;
      background-color: #fff !important;
      top: 0;
    }

.ionListItemRadiand {

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+4,ffffff+7,f4356f+78 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 4%, #ffffff 7%, #f4356f 78%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffffff 4%,#ffffff 7%,#f4356f 78%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffffff 4%,#ffffff 7%,#f4356f 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4356f',GradientType=1 ); /* IE6-9 */


  text-color: #000 !important;
  color: #000 !important;
  max-height: 70px;


}

.ionListItem {
  background-color: #f08195 !important;
  max-height: 70px;
}


.ionListItemWhite {
  background-color: #fff !important;
  max-height: 60px;

}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}

    .preWrap {
      white-space: pre-wrap;
    }


.downloading-on {
    display: block !important;
}



.downloading-off {
display: none !important;
}


.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
.slider {
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}


.photo {
      /* To correctly align image, regardless of content height: */
      vertical-align: top;
      display: inline-block;
      /* To horizontally center images and caption */
      text-align: center;
      /* The width of the container also implies margin around the images. */
      width: device-width + 'px';
}

.slideshow_image {
  width: device-width + 'px';
}

.image {
   position: relative;
   width: 100%; /* for IE 6 */
}


.available-scroller {
  height: 350px;
}

.caption {
    display: block;
}


.pull-right{
  float: right;
}
.button-halfwidth{
  width: 49%;
}
.button-fullwidth{
  width: 100%;
}




.custom {
  background-color: #f28d9f !important; /* This sets ff6682 #f08195 #5b2b46 #FCD8DA  #3f4041 the background color*/
 }

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  border-top: 1px solid;   /*Top Border for each menu item*/
  border-bottom:2px solid;   /*Bottom border for each menu item*/
  border-color: #f4a4b2;   /*Sets colors for top and bottom border*/
  color: white;    /*Text color for each item*/
}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #f4a4b2;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white;  /*Text color for each item, overrides the color property above*/
}


.cc-selector-2 input{
    position:absolute;
    z-index:999;
}

.visa{background-image:url(http://i.imgur.com/lXzJ1eB.png);}
.mastercard{background-image:url(http://i.imgur.com/SJbRQF7.png);}

.cc-selector-2 input:active +.drinkcard-cc, .cc-selector input:active +.drinkcard-cc{opacity: .9;}
.cc-selector-2 input:checked +.drinkcard-cc, .cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:100%;height:60px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}



.item-checkbox-img {
  vertical-align: middle;
  position: absolute;
  top: 0px;
  right: 15px;
  height: 100%;
}


.custom-thumbnail > img:first-child, .custom-thumbnail .item-image, .custom-thumbnail .item-content > img:first-child, .custom-thumbnail .item-content .item-image {
    top: 0px !important;
    left: 0px !important;
    width: 120px !important;
    height: 100px !important;
    max-width: 120px !important;
    max-height: 100px !important;

   padding: 4px; margin: 0 7px 2px 0; display: inline;
}

.custom-thumbnail-icon > img:first-child, .custom-thumbnail-icon .item-image, .custom-thumbnail-icon .item-content > img:first-child, .custom-thumbnail-icon .item-content .item-image {
    top: 20px !important;
    right: 10px !important;
    width: 32px !important;
    height: 32px !important;
    max-width: 32px !important;
    max-height: 32px !important;
}

img.alignleft { float: left; margin: 0 1em 1em 0; }

.item-my-text {
  top: -30px !important;
  left: 12px !important;
  width: 180px !important;
  padding: 2px;
  margin: 0 2px 2px 0;
  display: block;
  border: 0;
}

.custom-icon-standard {
  /* background-color: #FCD8DA; */
  font-family: "../assets/fonts/NeutraText-BookAlt",Arial,Verdana,Helvetiva,sans-serif;
  /* font-size: 12pt; */
  color: #FCD8DA;
  font-size: 24px;

}

.custom-icon-standard-white {
    font-size: 24px;
    color : white;
}

.item-header-height {

height: 120px;

}

.company-logo-locate {
  position:relative;
  top: -40px;
}

.company-logo {
  vertical-align: middle;
  display: block;
  max-width: 96%;
  content: url(../img/icons/logo.png);
}

.company-logo-header {
  vertical-align: middle;
  display: block;
  max-width: 80%;
  content: url(../img/icons/logo.png);
}

.center-horizonaly {
max-width: 100%;
    vertical-align: middle;
}

.custom-color-pink-light {
background-color: #FCD8DA;
}

.custom-text-color-pink-light {
color: #f08195;
border-style: none;
background-color: transparent;
font-weight: 700;
font-size: 1.2em;
}


.custom-text-color-pink-light i {
font-size: 24px;
}

.html-icon {
font-size: 16px;
}

.word-wrap-text {
  white-space: normal;
}


.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.my-show-hide-animation.ng-hide {
  opacity:0;
}


.accordion-standard {
  height: 40px;
  overflow: hidden;
}

.accordion-extend {
  height: 80%;
}
